Repository actions/actions-runner-controller, pull requests merged in 2023-06, with the labels that each got.

#2617 Adapt role name to prevent namespace collision
  charts/gha-runner-scale-set-controller/templates/_helpers.tpl
  charts/gha-runner-scale-set-controller/templates/manager_single_namespace_watch_role.yaml
  charts/gha-runner-scale-set-controller/templates/manager_single_namespace_watch_role_binding.yaml
Labels: attention, gha-runner-scale-set

#2638 chore(gha-runner-scale-set): update indentation of initContainers
  charts/gha-runner-scale-set/templates/autoscalingrunnerset.yaml
  charts/gha-runner-scale-set/tests/template_test.go
  charts/gha-runner-scale-set/tests/values_dind_extra_init_containers.yaml
Labels: community, gha-runner-scale-set

#2473 Fix more broken links in docs
  docs/authenticating-to-the-github-api.md
  docs/automatically-scaling-runners.md
  docs/using-arc-across-organizations.md
Labels: documentation, community
