Repository actions/actions-runner-controller, pull requests merged in 2023-10, with the labels that each got.

#2952 Allow custom labels to be specified for controller pods
  charts/gha-runner-scale-set-controller/templates/deployment.yaml
  charts/gha-runner-scale-set-controller/values.yaml
Labels: gha-runner-scale-set

#2970 Fix role and rolebinding cleanup for the listener controller
  controllers/actions.github.com/autoscalinglistener_controller.go
  controllers/actions.github.com/autoscalinglistener_controller_test.go
Labels: gha-runner-scale-set

#2991 Bump Kubernetes client to 1.26.4
  charts/actions-runner-controller/crds/actions.summerwind.dev_runnerdeployments.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runnerreplicasets.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runners.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runnersets.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_autoscalinglisteners.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_autoscalingrunnersets.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_ephemeralrunners.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_ephemeralrunnersets.yaml
  config/crd/bases/actions.github.com_autoscalinglisteners.yaml
  config/crd/bases/actions.github.com_autoscalingrunnersets.yaml
  config/crd/bases/actions.github.com_ephemeralrunners.yaml
  config/crd/bases/actions.github.com_ephemeralrunnersets.yaml
  config/crd/bases/actions.summerwind.dev_runnerdeployments.yaml
  config/crd/bases/actions.summerwind.dev_runnerreplicasets.yaml
  config/crd/bases/actions.summerwind.dev_runners.yaml
  config/crd/bases/actions.summerwind.dev_runnersets.yaml
  go.mod
  go.sum
  test/e2e/e2e_test.go
  testing/testing.go
Labels: dependencies

#2566 chore: Service accounts in Kubernetes mode can now be annotated.
  charts/gha-runner-scale-set/templates/kube_mode_serviceaccount.yaml
  charts/gha-runner-scale-set/tests/template_test.go
  charts/gha-runner-scale-set/tests/values_k8s_merge_spec.yaml
  charts/gha-runner-scale-set/tests/values_kubernetes_mode_service_account_annotations.yaml
  charts/gha-runner-scale-set/values.yaml
Labels: community, gha-runner-scale-set

#2965 Configure listener pod with the secret instead of env
  cmd/githubrunnerscalesetlistener/autoScalerService.go
  cmd/githubrunnerscalesetlistener/config/config.go
  cmd/githubrunnerscalesetlistener/config/config_test.go
  cmd/githubrunnerscalesetlistener/main.go
  cmd/githubrunnerscalesetlistener/main_test.go
  controllers/actions.github.com/autoscalinglistener_controller.go
  controllers/actions.github.com/autoscalinglistener_controller_test.go
  controllers/actions.github.com/resourcebuilder.go
  controllers/actions.github.com/resourcebuilder_test.go
Labels: gha-runner-scale-set

#3003 Trim down metrics cardinality
  cmd/githubrunnerscalesetlistener/metrics.go
Labels: gha-runner-scale-set
