Repository actions/actions-runner-controller, pull requests merged in 2023-09, with the labels that each got.

#2790 Update about-arc.md
  docs/about-arc.md
Labels: documentation, needs triage

#2679 Replace deprecated command with environment file
  .github/workflows/arc-publish-chart.yaml
  .github/workflows/arc-validate-chart.yaml
  .github/workflows/gha-validate-chart.yaml
Labels: needs triage, attention, gha-runner-scale-set

#2787 Set restart policy on the runner pod to Never if restartPolicy is not set in template
  charts/gha-runner-scale-set/templates/autoscalingrunnerset.yaml
  charts/gha-runner-scale-set/tests/template_test.go
Labels: gha-runner-scale-set

#2854 Update values.yaml
  charts/gha-runner-scale-set/values.yaml
Labels: needs triage, gha-runner-scale-set

#2856 Fix trivial typos
  charts/actions-runner-controller/values.yaml
  charts/gha-runner-scale-set/values.yaml
  docs/gha-runner-scale-set-controller/README.md
Labels: needs triage, gha-runner-scale-set

#2866 Update about-arc.md
  docs/about-arc.md
Labels: needs triage, gha-runner-scale-set

#2803 Set the AutoscalingRunnerSet name to runnerScaleSetName
  charts/gha-runner-scale-set/templates/autoscalingrunnerset.yaml
Labels: gha-runner-scale-set

#2758 Extend and generate crds allowing listener pod spec change
  apis/actions.github.com/v1alpha1/autoscalinglistener_types.go
  apis/actions.github.com/v1alpha1/autoscalingrunnerset_types.go
  apis/actions.github.com/v1alpha1/zz_generated.deepcopy.go
  charts/actions-runner-controller/crds/actions.summerwind.dev_horizontalrunnerautoscalers.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runnerdeployments.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runnerreplicasets.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runners.yaml
  charts/actions-runner-controller/crds/actions.summerwind.dev_runnersets.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_autoscalinglisteners.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_autoscalingrunnersets.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_ephemeralrunners.yaml
  charts/gha-runner-scale-set-controller/crds/actions.github.com_ephemeralrunnersets.yaml
  charts/gha-runner-scale-set-controller/templates/NOTES.txt
  charts/gha-runner-scale-set-controller/tests/template_test.go
  charts/gha-runner-scale-set/templates/autoscalingrunnerset.yaml
  charts/gha-runner-scale-set/tests/template_test.go
  charts/gha-runner-scale-set/tests/values_listener_template.yaml
  charts/gha-runner-scale-set/values.yaml
  config/crd/bases/actions.github.com_autoscalinglisteners.yaml
  config/crd/bases/actions.github.com_autoscalingrunnersets.yaml
  config/crd/bases/actions.github.com_ephemeralrunners.yaml
  config/crd/bases/actions.github.com_ephemeralrunnersets.yaml
  config/manager/manager.yaml
  controllers/actions.github.com/autoscalinglistener_controller_test.go
  controllers/actions.github.com/resourcebuilder.go
Labels: gha-runner-scale-set

#2892 Extend the user agent and fix the build version for the listener app
  .github/workflows/arc-publish.yaml
  Dockerfile
  Makefile
  build/version.go
  cmd/githubrunnerscalesetlistener/main.go
  cmd/githubrunnerscalesetlistener/mock_KubernetesManager.go
  cmd/githubrunnerscalesetlistener/mock_RunnerScaleSetClient.go
  controllers/actions.github.com/autoscalingrunnerset_controller.go
  controllers/actions.github.com/autoscalingrunnerset_controller_test.go
  controllers/actions.github.com/ephemeralrunner_controller_test.go
  controllers/actions.github.com/ephemeralrunnerset_controller_test.go
  github/actions/client.go
  github/actions/fake/client.go
  github/actions/github_api_request_test.go
  github/actions/mock_ActionsService.go
  github/actions/mock_SessionService.go
  github/actions/multi_client.go
  github/actions/multi_client_test.go
  main.go
Labels: gha-runner-scale-set

#2833 Fix #2809 : replace TCP docker daemon connection with unix socket
  charts/gha-runner-scale-set/templates/_helpers.tpl
  charts/gha-runner-scale-set/tests/template_test.go
  charts/gha-runner-scale-set/values.yaml
Labels: attention, gha-runner-scale-set, needs testing

#2915 Fix name override labels when runnerScaleSetName value is set
  charts/gha-runner-scale-set/templates/_helpers.tpl
  charts/gha-runner-scale-set/templates/autoscalingrunnerset.yaml
  charts/gha-runner-scale-set/tests/template_test.go
Labels: needs triage, gha-runner-scale-set

#2916 Fix nil map when annotations are applied
  controllers/actions.github.com/autoscalinglistener_controller_test.go
  controllers/actions.github.com/resourcebuilder.go
Labels: gha-runner-scale-set
