Repository actions/actions-runner-controller, pull requests merged in 2023-08, with the labels that each got.

#2712 Clarify multiple metrics in docs
  docs/automatically-scaling-runners.md
Labels: needs triage, community

#2780 Logs - Add missing formatting
  cmd/githubwebhookserver/main.go
Labels: needs triage, community

#2706 Trim gha-runner-scale-set to gha-rs in names and remove role type suffixes
  .github/actions/execute-assert-arc-e2e/action.yaml
  .github/workflows/gha-e2e-tests.yaml
  charts/gha-runner-scale-set-controller/Chart.yaml
  charts/gha-runner-scale-set-controller/templates/_helpers.tpl
  charts/gha-runner-scale-set-controller/templates/deployment.yaml
  charts/gha-runner-scale-set-controller/tests/template_test.go
  charts/gha-runner-scale-set/Chart.yaml
  charts/gha-runner-scale-set/templates/_helpers.tpl
  charts/gha-runner-scale-set/tests/template_test.go
Labels: gha-runner-scale-set

#2777 Document customization for containerModes
  charts/gha-runner-scale-set/values.yaml
Labels: gha-runner-scale-set

#2559 Provide scale-set listener metrics
  Dockerfile
  charts/gha-runner-scale-set-controller/templates/_helpers.tpl
  charts/gha-runner-scale-set-controller/templates/deployment.yaml
  charts/gha-runner-scale-set-controller/tests/template_test.go
  charts/gha-runner-scale-set-controller/values.yaml
  cmd/githubrunnerscalesetlistener/autoScalerService.go
  cmd/githubrunnerscalesetlistener/autoScalerService_test.go
  cmd/githubrunnerscalesetlistener/main.go
  cmd/githubrunnerscalesetlistener/metrics.go
  controllers/actions.github.com/autoscalinglistener_controller.go
  controllers/actions.github.com/ephemeralrunnerset_controller.go
  controllers/actions.github.com/metrics/metrics.go
  controllers/actions.github.com/resourcebuilder.go
  controllers/actions.github.com/resourcebuilder_test.go
  github/actions/types.go
  github/github.go
  github/metrics/transport.go
  go.mod
  go.sum
  main.go
Labels: gha-runner-scale-set

#2779 Move gha-* docs out of preview
  README.md
  docs/gha-runner-scale-set-controller/README.md
  docs/gha-runner-scale-set-controller/arc-diagram-dark.png
  docs/gha-runner-scale-set-controller/arc-diagram-light.png
  docs/gha-runner-scale-set-controller/thumbnail.png
  docs/preview/actions-runner-controller-2/README.md
  docs/preview/gha-runner-scale-set-controller/README.md
Labels: gha-runner-scale-set, DONOTMERGE

#2783 Prepare 0.5.0 release
  charts/gha-runner-scale-set-controller/Chart.yaml
  charts/gha-runner-scale-set/Chart.yaml
  docs/gha-runner-scale-set-controller/README.md
Labels: gha-runner-scale-set, DONOTMERGE

#2825 Add grafana dashboard sample
  docs/gha-runner-scale-set-controller/samples/grafana-dashboard/ARC-Autoscaling-Runner-Set-Monitoring_1692627561838.json
  docs/gha-runner-scale-set-controller/samples/grafana-dashboard/README.md
  docs/gha-runner-scale-set-controller/samples/grafana-dashboard/grafana-sample.png
Labels: gha-runner-scale-set

#2828 Fix - Actually Enable Sets in addition to Slices in `env`
  charts/actions-runner-controller/values.yaml
Labels: community

#2830 [helm actions-runner-controller] Use namespaceSelector.matchExpression instead of matchLabels
  charts/actions-runner-controller/Chart.yaml
  charts/actions-runner-controller/templates/webhook_configs.yaml
Labels: community
